import("lme4")
import("partykit")
import("Formula")

importFrom("utils", "globalVariables")
importFrom("graphics", "plot")
importFrom("stats", "coef", "logLik", "predict", "update")

export(
  "lmertree",
  "glmertree"
)

S3method("print", "lmertree")
S3method("print", "glmertree")
S3method("plot", "lmertree")
S3method("plot", "glmertree")
S3method("coef", "lmertree")
S3method("coef", "glmertree")
S3method("ranef", "lmertree")
S3method("ranef", "glmertree")
S3method("logLik", "lmertree")
S3method("logLik", "glmertree")
