import("partykit")
import("gamlss.dist")
importFrom("stats",
  "nobs",
  "optim",
  "qnorm"
)
importFrom("sandwich",
  "bread",
  "estfun"
)

export(
  ## core distribution fitting function
  "distfit",

  ## distributional tree
  "disttree"
)

## methods
S3method("bread", "distfit")
S3method("coef", "distfit")
S3method("confint", "distfit")
S3method("estfun", "distfit")
S3method("logLik", "distfit")
S3method("nobs", "distfit")
S3method("vcov", "distfit")

S3method("print", "disttree")
